In [23]:
import pandas
import os
import nltk
import json

In [24]:
with open('k_eman.csv', encoding = 'utf-8-sig') as file_csv:
    lines_row = word_tokenize(' '.join(file_csv.read().splitlines()))

In [25]:
punctuation = ['“','“','‘‘',',','-','،','۔','”','!','؟',')','(','.','1','2','3','4','5','6','7','8','9','0','‘',',',"''",'``',' ',':',':’’','’’']
extra_punct = ['’’','“','،',':','”','۔','"',"(",")","؟"]

In [26]:
remove_punc=[]
for a in lines_row:
    if a not in punctuation:
        remove_punc.append(a)

In [27]:
for itemlist in range(len(remove_punc)):
    for i in extra_punct:
        remove_punc[itemlist] = remove_punc[itemlist].replace(i,'')

In [28]:
for itemlist in range(len(remove_punc)):
    remove_punc[itemlist] = remove_punc[itemlist].replace('  ',' ')

In [29]:
unique_word = []
for word in remove_punc:
    if word not in unique_word:
        unique_word.append(word)

In [30]:
dataset = pandas.DataFrame(remove_punc)
unique_word_df = pandas.DataFrame(unique_word)

In [31]:
if os.path.exists('dataset.csv'):
    os.remove('dataset.csv')
    unique_word_df.to_csv('dataset.csv',encoding='utf-8-sig', header=False , index = False)
else:
    unique_word_df.to_csv('dataset.csv',encoding='utf-8-sig', header=False , index = False)

In [32]:
if os.path.exists('unique_word.csv'):
    os.remove('unique_word.csv')
    unique_word_df.to_csv('unique_word.csv',encoding='utf-8-sig', header=False , index = False)
else:
    unique_word_df.to_csv('unique_word.csv',encoding='utf-8-sig', header=False , index = False)

In [33]:
print(unique_word_df)

            0
0        اللہ
1          کے
2         نام
3          سے
4        شروع
...       ...
5820  پھونکتی
5821      جلے
5822     خطرے
5823      دبک
5824    وسوسے

[5825 rows x 1 columns]

In [34]:
print(dataset)

            0
0        اللہ
1          کے
2         نام
3          سے
4        شروع
...       ...
161742  ڈالتے
161743    ہیں
161744     جن
161745    اور
161746   آدمی

[161747 rows x 1 columns]